/*** Base styles ***/

body {
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h1, h2, p.name, nav ul li {
    text-transform: lowercase;
}

h1, h2 {
    font-family: 'Source Code Pro', monospace;
}

h2 {
    text-align: center;
    color: rgb(250, 0, 117);
}

.title {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 0;
}

/*** Layout ***/

header, main, section, footer {
    overflow: auto;
    width: 100%;
}

.full-width {
    clear: both;
    width: 100%;
}

.left, .right {
    display: inline-block;
    float: left;
    width: 50%;
}

.third-width {
    display: inline-block;
    float: left;
    width: 33%;
}

/*** Header Section ***/

header {
    background: rgb(0, 0, 0) url(../img/hero-background.png);
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 3em;
    height: 600px;
}

p.name {
    display: inline-block;
    float: left;
    min-width: 50%;
    max-width: 300px;
    font-size: 1em;
    line-height: 1.2em;
}

nav ul {
    float: right;
    list-style-type: none;
    max-width: 50%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    line-height: 1.2em;
}

.emphasis {
    color: rgb(250, 0, 117);
}

/*** Portfolio Section ***/

img.thumbnail {
    width: 80%;
    max-width: 300px;
    padding-left: 10%;
    padding-right: 10%;
}

.left h3, .right h3, .left p, .right p {
    padding-left: 10%;
    padding-right: 10%;
}

.project-type {
    margin-top: 0;
    font-size: .85em;
}

/*** Contact Section ***/
