/*** Base styles ***/

body {
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    margin: 0 auto;
}

h1, h2, p.name, nav ul li {
    text-transform: lowercase;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    padding-top: 10.5%;
    color: rgb(115, 48, 99);
    font-weight: 700;
    font-size: 2.4em;
}

h2 {
    margin-bottom: 1%;
    font-family: 'Source Code Pro', monospace;
    font-size: 2em;
    text-align: center;
    color: rgb(242, 115, 8);
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    letter-spacing: 0.05em;
    color: rgb(255, 222, 127);
}

p {
    text-align: justify;
}

.title {
    margin-bottom: 0;
}

/*** Layout ***/

.full-width {
    overflow: auto;
    clear: both;
    width: 100%;
}

.half-width {
    display: inline-block;
    float: left;
    width: 42%;
    padding: 2% 4%;
}

.third-width {
    display: inline-block;
    float: left;
    width: 25%;
    padding: 1% 4%;
}

.left-col {
    max-width: 520px;
    margin-left: auto;
}

.right-col {
    max-width: 520px;
    margin-right: auto;
}

/*** Header Section ***/

/* Hero Image Photo by Markus Spiske on Unsplash, downloaded on 01/02/19. */
header {
    background: rgb(0, 0, 0) url(../img/hero.jpg);
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 3em;
    height: 650px;
}

p.name {
    display: inline-block;
    float: left;
    min-width: 50%;
    max-width: 300px;
    padding-left: 1%;
    line-height: 1.25em;
}

nav ul {
    float: right;
    max-width: 50%;
    padding-right: 1%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    text-align: right;
    padding: 0 1em;
}

nav ul li a {
    text-decoration: none;
    color: rgb(250, 250, 250);
    line-height: 1.2em;
}

.emphasis {
    text-decoration: none;
    color: rgb(242, 115, 8);
}

/*** Portfolio Section ***/

img.thumbnail {
    width: 100%;
}

h3 a {
    text-decoration: none;
    color: rgb(255, 222, 127);
}

.project-type {
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

/*** About Me Section ***/

#about {
    background: rgb(12, 14, 13) url(../img/about-me.jpg);
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

#about img {
    max-width: 100%;
    opacity: .9;
}

#about .half-width {
    padding: 2% 4% 0 4%;
}

/*** Contact Section ***/

footer {
    background: rgb(12, 14, 13);
}

.connect {
    text-align: center;
}

.email {
    text-decoration: none;
    color: rgb(250, 250, 250);
    line-height: 1.2em;
    padding-left: 4%;
}

footer ul {
    padding-left: 0;
    text-align: center;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    line-height: 1.2em;
    padding: 0 1em;
}

.minimize {
    text-align: center;
    font-style: italic;
    font-size: .8em;
    padding: 4% 0;
}